body {
  --grayLight: hsl(212, 6%, 44%);
  --grayDark: hsl(234, 12%, 34%);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;

  color: var(--grayLight);
}

.max-width-wrapper {
  max-width: 375px;
  padding: 3rem 2rem;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0px 0px 12px 12px hsl(0deg, 0%, 85%); */
}

h1,
strong,
h2 {
  color: var(--grayDark);
}

.intro {
  margin-bottom: 3rem;
  text-align: center;
  padding: 0rem 0.25rem;
}

.intro h1 {
  font-weight: 200;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

.intro strong {
  font-weight: 600;
}

.card {
  border-radius: 4.5px;
  position: relative;
  padding: 1.5rem 2rem;
  box-shadow: 0px 12px 16px hsl(212deg, 20%, 85%);
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card p {
  font-weight: 400;
  font-size: 0.9rem;
}

.card img {
  margin: 2rem 0px 2rem auto;
}

.card.one {
  border-top: 4.5px solid hsl(180, 62%, 55%);
}

.card.two {
  border-top: 4.5px solid hsl(0, 78%, 62%);
}

.card.three {
  border-top: 4.5px solid hsl(34, 97%, 64%);
}

.card.four {
  border-top: 4.5px solid hsl(212, 86%, 64%);
}

article {
  margin-top: 2rem;
}
